{{ block "base" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    </head>
    <body>
        {{ template "createEmployee" . }}
        <hr />
        {{ template "display" . }}
    </body>
</html>
{{ end }}

{{ block "createEmployee" . }}
<form hx-swap="outerHTML" hx-target="#displayDiv" hx-post="/employee">
    ShortHand: <input type="text" name="shorthand" />
    Name: <input type="text" name="name" />
    Title: <input type="text" name="title" />
    <button type="submit">Create Employee</button>
</form>
{{ end }}

{{ block "display" . }}
    <div id="displayDiv" style="display: flex; flex-direction: column;">
        {{range .employees }}
        <div>
            Short: <span>{{ .Shorthand }}</span>
            Name: <span>{{ .Name }}</span>
            Title: <span>{{ .Title }} </span>
        </div>
        {{ end }}
    </div>
{{ end }}
